@import url("https://fonts.googleapis.com/css?family=Sriracha:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700");

body {
    background-image: url("../images/game-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #11e422;
}

.logo {
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: auto;
    font-size: 8.5rem;
    font-family: Sriracha;
    letter-spacing: 2px;
}

.menu {
    background-color: rgba(25, 25, 25, 0.6);
    padding: 1rem; 
    border-radius: 1rem;
    margin: 10rem auto;
    text-align: center;    
    text-transform: uppercase; 
    max-width: 50rem;
    animation-name: alien-lights;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes alien-lights {
    0% {box-shadow: 0 0 1.5rem 1.5rem rgba(45, 133, 5, 0.603)}
    50% {box-shadow: 0 0 1.5rem 1.5rem rgba(71, 206, 8, 0.603)}
    75% {box-shadow: 0 0 1.5rem 1.5rem rgb(120, 243, 5)}
    100% {box-shadow: 0 0 1.5rem 1.5rem rgba(45, 133, 5, 0.603)}
    
}

h3 {
    font-size: 3.5rem;
    font-family: Sriracha;
    letter-spacing: 2px;
}

a {
    color: #11e422;
    text-decoration: none;
}

a:hover {
    color: rgb(79, 175, 0);
}

/*---------------------------------------------*/


/* Popup box BEGIN */
.box{
    cursor:pointer;
    position:fixed;
    text-align:center;
    width:54.5%;
    display: none;
}


.box > div {
    background-color: rgba(25, 25, 25, 0.9);
    box-shadow: 10px 10px 60px #555;
    width: 67%;
    position: relative;
    border-radius: 10px;
    padding: 15px 5%;
    margin: -106px 0px 0px -9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupCloseButton {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.popup {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box end */



/*-----------------------------------------------------game page*/

.game-info-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 4rem;
    font-family: Sriracha;
}

.container {
  width: 694px;
  height: 486px;
  background-color: rgba(25, 25, 25, 0.6);
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  perspective: 500px;
  animation: alien-lights;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes alien-lights {
    0%{box-shadow: 0px 1px 3rem 2rem rgba(172, 11, 168, 1)}
    50%{box-shadow: 0px 1px 3rem 2rem rgba(71, 206, 8, 1)}
    75%{box-shadow: 0px 1px 3rem 2rem rgba(120, 243, 5, 1)}
    100%{box-shadow: 0px 1px 3rem 2rem rgba(241, 42, 210, 1)}
}

.card {
  width: calc(25% - 20px);
  height: calc(38.333% - 64px);
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
}

.card:active {
    transform: scale(.97);
    transition: transform .2s
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
    background: rgba(10, 236, 59, 1);
    backface-visibility: hidden;
}

.card-front, .card-back:hover {
    width: 102%;
    height: 102%;
}

.spin {
    animation: spin 1s linear infinite 800ms;
}


@keyframes spin {
  0%, 100% {
    transform: rotate(0) rotateY(180deg);
  }
  25% {
    transform: rotateZ(-5deg) rotateY(180deg);
  }
  75% {
    transform: rotateZ(5deg) rotateY(180deg);
  }
}

.card-front {
    transform: rotateY(180deg);
    background:#e01ee0;
}

.card.flip {
    transform: rotateY(180deg);
}




.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: #11e422;
    font-family: Sriracha, sans-serif;
}



.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-large 800ms forwards;
}

@keyframes overlay-large {
    from {
        background-color: rgba(0, 0, 0,);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, .5);
        font-size: 10rem;
    }
}


@media screen and (max-width: 1100px) {
    
    
    .container {
    width: 90rem;
    height: 80rem;
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
        padding: 40px;
        display: flex;
    }

    .menu {
        max-width: 75rem;
        height: 19rem;
    }

    .box {
        width: 108.5%;
    }

}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 3rem;
    }

    .container {
    width: 35rem;
    height: 44rem;
    }

    .game-info-container {
        padding: 15px;
    }

    .menu {
        max-width: 33rem;
        height: 19rem;
    }

    .box {
        width: 135.5%;
    }

    .game-info {
        font-size: 2rem;
    }
}