@import url("https://fonts.googleapis.com/css?family=Sriracha:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700");

body {
    background-image: url("../images/game-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #11e422;
}

.logo {
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: auto;
    font-size: 8.5rem;
    font-family: Sriracha;
    letter-spacing: 2px;
}

.menu {
    background-color: rgba(25, 25, 25, 0.6);
    padding: 1rem; 
    border-radius: 1rem;
    margin: 10rem auto;
    text-align: center;    
    text-transform: uppercase; 
    max-width: 50rem;
    animation-name: alien-lights;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes alien-lights {
    0% {box-shadow: 0 0 1.5rem 1.5rem rgba(45, 133, 5, 0.603)}
    50% {box-shadow: 0 0 1.5rem 1.5rem rgba(71, 206, 8, 0.603)}
    75% {box-shadow: 0 0 1.5rem 1.5rem rgb(120, 243, 5)}
    100% {box-shadow: 0 0 1.5rem 1.5rem rgba(45, 133, 5, 0.603)}
    
}

h3 {
    font-size: 3.5rem;
    font-family: Sriracha;
    letter-spacing: 2px;
}

a {
    color: #11e422;
    text-decoration: none;
}

a:hover {
    color: rgb(79, 175, 0);
}

/*---------------------------------------------*/


/* Popup box BEGIN */
.box{
    cursor:pointer;
    position:fixed;
    text-align:center;
    width:54.5%;
}


.box > div {
    background-color: rgba(25, 25, 25, 0.9);
    box-shadow: 10px 10px 60px #555;
    width: 67%;
    position: relative;
    border-radius: 10px;
    padding: 15px 5%;
    margin: -106px 0px 0px -9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupCloseButton {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.popup {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box end */


#volume, #mute {
    color: #11e422;
    background-color: rgba(25, 25, 25, 0.9);
    width: 60px;
    height: 60px;
    padding: 2px 0;
    border-radius: 50%;
    font-size: 35px;
    line-height: 7px;
    text-align: center;
    float: right;
    margin-right: 30px;
}

/*-----------------------------------------------------game page*/

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

}

.container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    background-color: rgba(25, 25, 25, 0.6);
    padding: 1rem;
    border-radius: 1rem;
    margin: 4rem auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 60rem;
    height: 34rem;
    animation-name: alien-lights;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    perspective: 500px;
}

@keyframes alien-lights {
    0% {box-shadow: 0 0 1.5rem 1.5rem rgba(45, 133, 5, 0.603)}
    50% {box-shadow: 0 0 1.5rem 1.5rem rgba(71, 206, 8, 0.603)}
    75% {box-shadow: 0 0 1.5rem 1.5rem rgba(120, 243, 5,)}
    100% {box-shadow: 0 0 1.5rem 1.5rem rgba(45, 133, 5, 0.603)}
}

.game-info {
    font-size: 4rem;
    font-family: Sriracha;
}

.card {
    position: relative;
    background-color:  rgba(25, 25, 25, 0.6);
    height: 125px;
    width: 100px;
}

.card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 800ms ease-in-out;
    
}

.card:hover .card-back {
    transform: rotateY(-180deg);
}


.card:hover .card-front {
    transform: rotateY(0);
}

.card-back {
    transform: rotateY(0);
}


.card-back:hover {
    transform: translateY(0);
    width: 102%;
    height: 102%;
}

.card-front {
    transform: rotateY(180deg)
}


.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9); 
  width: 100%;
  height: 100%;
}

.card-front:hover .card-value {
  transform: scale(1);
}

